
<nav class="navbar navbar-expand-lg navbar-light ">

    <a class="navbar-brand text-dark  font-weight-bold " style="font-family: Sans-serif; " routerLink="/">Health Care</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <ul class="navbar-nav float-right">
          
          <li class="nav-item">
            <a class="nav-link font-weight-bold text-dark ml-auto" *ngIf='!loggedIn()' routerLink="/login">login</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link font-weight-bold text-dark " *ngIf='loggedIn()' (click)='logout()'>Logout</a>
          </li>
          
        </ul>
  
        <li class="nav-item">
          <a class="nav-link " routerLink="**"></a>
        </li>
      </ul>
  
    </div>
  </nav>