<div class="jumbotron">
    <nav class="navbar navbar-expand-sm navbar-darkt bg-dark">
        <a class="navbar-brand" routerLink="/">Admin</a>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <ul class="nav nav-pills"> 
            
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Centers
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" routerLink="/addCenter">Add Center</a>
                          <a class="dropdown-item" routerLink="/view-all-centers">View All Centers</a>
                          
                        </div>
                      </div>
        
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle mr-auto" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Test
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" routerLink="/addTest">Add Test</a>
                          <a class="dropdown-item" routerLink="/view-all-tests">View All Tests</a>
                        </div>
                      </div>
        
        
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle mr-auto" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Appointment
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    
                          <a class="dropdown-item" routerLink="/view-all-appointments">View All Appointments</a>
                        </div>
                      </div>
                    
        <li class="nav-item">
          <a class="nav-link" routerLink="**"></a>
        </li>
               
            </ul>
         </ul>
        </div>
    </nav>
    </div>
    